{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "style/footer.css" %}">
</head>
<body>

      <!-- Footer -->
    <footer class="footer" id="contact">
        <div class="container footer-grid">
            <div class="footer-brand">
                <a href="#" class="logo">Shop<span>Ease</span></a>
                <p>
                    Your one-stop destination for quality products,
                    great prices and an amazing shopping experience.
                </p>
            </div>

            <div>
                <h3>Shop</h3>
                <a href="#">All Products</a>
                <a href="#">New Arrivals</a>
                <a href="#">Best Sellers</a>
                <a href="#">Deals</a>
            </div>

            <div>
                <h3>Help</h3>
                <a href="#">Contact Us</a>
                <a href="#">Shipping Info</a>
                <a href="#">Returns</a>
                <a href="#">FAQs</a>
            </div>

            <div>
                <h3>Follow Us</h3>
                <div class="socials">
                    <a href="#">f</a>
                    <a href="#">𝕏</a>
                    <a href="#">◎</a>
                    <a href="#">in</a>
                </div>
            </div>
        </div>

        <div class="copyright">
            <p>© 2026 ShopEase. All rights reserved.</p>
        </div>
    </footer>
    
</body>
</html>