{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "style/header.css" %}">
</head>
<body>

    
   {% block navbar %}
    <header class="header">
        <div class="container nav">
            <a href="#" class="logo">Shop<span>Ease</span></a>

            <nav class="nav-links">
                <a href="#">Home</a>
                <a href="#products">Shop</a>
                <a href="#categories">Categories</a>
                <a href="#deals">Deals</a>
                <a href="#contact">Contact</a>
            </nav>

            <div class="nav-actions">
                <button class="icon-btn">🔍</button>
                <button class="icon-btn">♡</button>
            <a href="http://127.0.0.1:8000/addtocart/"> 
                <button class="cart-btn">🛒 <span>2</span>
              </button>
            </a>

            <button class ="btn2">
                <span class ="btn2">Login</span>
            </button>
            </div>
        </div>
    </header>
   {% endblock navbar %}
    
</body>
</html>
